<!-- Navbar -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark aqua-gradient wow fadeIn scrolling-navbar" data-wow-delay="0.1s"  >
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand waves-effect white-text " href="/" target="">[o_o] <strong>ComputerVision</strong>
      
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-effect" href="/note" >Note</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="#" data-page="about" >About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="/contact" data-page="/contact" >Contact</a>
        </li>
        
      </ul>

    </div>

  </div>
</nav>
<!-- Navbar -->